.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-text {
  height: 72px;
  overflow: hidden;
}

.btn-outline-primary{

  border-color: orange;

  background-color: orange ;
  color: white;
}
.btn-outline-primary:hover{
  border-color: orange;
  background-color: white ;
  color: orange;
}
