<form [formGroup]="createForm">
  <div class="mb-3">
    <label for="prezzo" class="form-label">Prezzo<span class="text-danger">*</span></label>
    <input type="number" class="form-control" formControlName="prezzo" id="prezzo" name="Prezzo" placeholder="Scrivi la base d'asta">
  </div>

  <div class="mb-3">
    <label for="data" class="form-label">Data di scadenza:<span class="text-danger">*</span></label>
    <input type="datetime-local" formControlName="data" id="data" name="data" class="form-control border-dark shadow-sm">
  </div>

  <button class="btn btn-warning btn-lg" (click)="crea()">Crea asta</button>
</form>
<footer><span class="text-danger">*Campo obbligatorio</span></footer>
