<div class="container mt-5">
  <div class="card shadow-lg p-4 form-card">
    <div class="card-body">
      <h2 class="text-center mb-4">Crea una nuova asta</h2>

      <form [formGroup]="createForm">
        <div class="mb-3">
          <label for="prezzo" class="form-label fw-bold">Prezzo di partenza(€) <span class="text-danger">*</span></label>
          <input type="number" class="form-control input-custom" formControlName="prezzo" id="prezzo" name="Prezzo" placeholder="Inserisci la base d'asta">
        </div>

        <div class="mb-3">
          <label for="data" class="form-label fw-bold">Data di scadenza <span class="text-danger">*</span></label>
          <input type="datetime-local" formControlName="data" id="data" name="data" class="form-control input-custom">
        </div>

        <div class="d-flex justify-content-between mt-4">
          <button class="btn btn-secondary btn-lg" (click)="goBack()">
            <i ></i> Torna indietro
          </button>

          <button class="btn btn-primary-custom btn-lg" (click)="crea()">
            <i></i> Crea Asta
          </button>
        </div>
      </form>

      <footer class="text-center mt-3">
        <span class="text-danger fw-semibold">* Campo obbligatorio</span>
      </footer>
    </div>
  </div>
</div>
