<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body class="d-flex justify-content-center align-items-center">
<form class="login-form text-center" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" style="width: 100%; max-width: 400px;">

  <div class="form-group mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" formControlName="username" placeholder="Inserisci il tuo username" required>
  </div>
  <div class="form-group mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password" placeholder="Inserisci la tua password">
  </div>
  <button type="submit" #captchaButton class="btn btn-outline-primary w-100 mb-3 g-recaptcha"
          data-sitekey="6Lc4oMoqAAAAAATd9CRuR7QMR_NdOtzagn2TwLa2"
          data-callback="onSubmitCaptcha"
          data-action="submit">Login</button>
  <div class="form-footer">


    Non hai un profilo? <a routerLink="/register">Registrati</a>
  </div>
  <router-outlet></router-outlet>
</form>
</body>
</html>
