<div class="container mt-3">
  <div class="header">
    <h1>Pannello di controllo delle aste</h1>
  </div>

  <div *ngFor="let asta of aste" class="row align-items-center border-bottom py-2">
    <div class="col-md-3 fw-bold">Titolo: {{ asta.annuncio.titolo }}</div>
    <div class="col-md-4">Prezzo: € {{ asta.prezzo.toFixed(2) }}</div>
    <div class="col-md-3">Venditore: {{ asta.annuncio.venditore.username }}</div>
    <div class="col-md-2">
      <button class="btn btn-outline-danger w-100" (click)="eliminaAsta(asta)">Elimina</button>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <button class="btn btn-primary" routerLink="/adminBoard">Torna indietro</button>
  </div>
</div>
