<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <img src="test1logo.png" alt="DeMatSzon Logo">
    </a>

    <!-- User Menu -->
    <div class="dropdown">
      <div class="d-flex align-items-center" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="me-2" *ngIf="isLoggedIn">Benvenuto {{username}}</span>
        <span class="me-2" *ngIf="!isLoggedIn">Accedi/Registrati</span>
        <div class="rounded-circle bg-light p-2">
          <i class="bi" [ngClass]="{'bi-person-circle': !isLoggedIn, 'bi-person-fill': isLoggedIn}"></i>
        </div>
      </div>

      <!-- Dropdown Menu -->
      <ul class="dropdown-menu dropdown-menu-end">
        <ng-container *ngIf="isLoggedIn; else loginTemplate">
          <li>
            <button class="dropdown-item" routerLink="/annunci">
              I miei annunci
            </button>
          </li>

          <li>
            <button class="dropdown-item" routerLink="/profile">
              Vai al tuo profilo
            </button>
          </li>
          <li *ngIf="isAdmin">
            <button class="dropdown-item" routerLink="/adminBoard">
              Pannello Admin
            </button>
          </li>
          <li>
            <a class="dropdown-item" [routerLink]="['/categories']">Categorie</a>
          </li>
          <li>
            <button class="dropdown-item" (click)="logout()">
              Logout
            </button>
          </li>
        </ng-container>
        <ng-template #loginTemplate>
          <li>
            <button class="dropdown-item" (click)="goLogin()">Accedi</button>
          </li>
          <li>
            <button class="dropdown-item" (click)="goRegister()">Registrati</button>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
