.profile-card {
  max-width: 550px;
  margin: auto;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.profile-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.badge {
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
}

.btn-lg {
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 10px;
  transition: all 0.3s;
}

.btn-lg:hover {
  transform: scale(1.05);
}

.btn-outline-primary:hover {
  background-color: #0d6efd;
  color: white;
}

.btn-outline-secondary:hover {
  background-color: #6c757d;
  color: white;
}

.btn-outline-dark:hover {
  background-color: #343a40;
  color: white;
}

.btn-outline-info:hover {
  background-color: #0dcaf0;
  color: white;
}

.btn-outline-warning:hover {
  background-color: #ffc107;
  color: white;
}
.badge-orange {
  background-color: orange;
  color: white;
}
/* Crea Annuncio - Blu Chiaro */
.btn-primary-custom {
  background-color: #5b8fd9;
  border-color: #4678b0;
  color: white;
}

.btn-primary-custom:hover {
  background-color: #4678b0;
  border-color: #355f8a;
}

/* Gestisci Annunci - Verde Chiaro */
.btn-success-custom {
  background-color: #6dbf7f;
  border-color: #4b9e5f;
  color: white;
}

.btn-success-custom:hover {
  background-color: #4b9e5f;
  border-color: #3d7d4a;
}

/* Gestisci Aste - Rosso Chiaro */
.btn-danger-custom {
  background-color: #e5c173;
  border-color: #d2b34b;
  color: white;
}

.btn-danger-custom:hover {
  background-color: #d2a34b;
  border-color: #d2a34b;
}
